@import "https://fonts.googleapis.com/css?family=Roboto:400,300,700|Pacifico|Julius+Sans+One";

$header-height: 100px;
$metadata-color: lighten(black, 50%);
$border-color: darken(white, 10%);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100hv;
    font-family: "Roboto";
    background-color: #fff;

    // position: relative;
}

#root {
    height: 100%;
    overflow: hidden;
}

.layout {
    width: 100%;
    height: 100hv;
    padding-top: $header-height;
}


header {
    width: 100%;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: top 0.1s ease-in-out;
    background: rgba(255, 255, 255, .95);
    border-bottom: 1px solid $border-color;
    font-family: sans-serif;

    .header-logo {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100px;

        a {
            margin: auto;
        }
    }

    .header-links {

        display: flex;

        a {
            color: #121212;
            text-decoration: none;
            margin: 1rem;

        }




    }

    .header-user-container {
        display: flex;
        flex-direction: column;

        a {
            margin: .5rem;
        }

        p,
        h3 {
            margin: .0rem;
        }
    }

}



.main-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 78vh;
}

main {
    padding: 20px;
}


aside {
    width: 100px;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(221, 221, 221, 0.842);

    img {
        inline-size: 2rem;
        margin: 10px;
    }
}

aside>h2 {
    margin-bottom: auto;
}

aside>div {
    margin: auto 0;
}

aside>h3 {
    margin-top: auto;
}

.navs {

    display: flex;
    flex-direction: column;
    align-items: center;

}

aside>* {
    width: 100%;
}



footer {
    width: 100%;
    min-height: $header-height;
    border-top: 1px solid $border-color;
    font-size: .8rem;
    text-align: right;

    p {
        margin-right: 1rem;
    }
}



